.page-header {
	grid-column: span 12;
	display: grid;
	height: 500px;	
	grid-template-rows: 1fr;
	grid-template-columns: 2fr 6fr 3.95fr;
	// grid-gap: 2vw;

	font-family: @roboto;
	font-weight: normal;
	font-size: 13px;
	line-height: 1.08;
	text-transform: uppercase;
	font-stretch: condensed;
}

.page-header__home {
	display: grid;
	height: 450px;
	grid-template-rows: 1.7fr 1fr 1.05fr;
	grid-template-columns: 1fr;
	padding-left: 169px;
	padding-top: 50px;
	background-color: #e9eae2;
}

.page-header__logo {
	width: 162px;
  	height: 207px;
}

.page-header__title {
	width: 90px;
	padding-top: 5px;
	font-size: 18px;
	color: @dark-font;
	letter-spacing: -1.5px;
	line-height: 1;
}

.page-header__showcase {
	display: grid;
	justify-content: center;
	height: 450px;
	padding-top: 50px;
	background-color: #e9eae2;
}

.page-header__showcase img{
	width: 540px;
    height: 435px;
    padding-top: 20px;
    padding-left: 10px;
}

.page-header__address {
	padding-top: 50px;
	background: #7acec3 url('../img/line.svg') no-repeat;
	background-size: 100% 100%;
}

.page-header__social {
	
}